// @use"mixins";
@import "mixins";

%button{
    border: 3px dotted rgb(30, 245, 62);
    border-radius: 30px;
    background-color: rgb(165, 210, 140);
    padding: 30px;
}



.btn{
    border: 1px solid black;
    border-radius: 10px;
    background-color: tan;
    padding: 20px;
}


.btn2{
    @extend %button;

    // @include mixins.bg(rgb(230, 12, 241));   // через @use
     @include bg(rgb(230, 12, 241));   // через @import

}

.btn{
    @extend %button;
}

