@use "mixins" as *;

.footer {
  @include text-possition(center);
  padding: 20px;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #2a2f3a;
}



.menu{
  color: gold;
  @include text-possition(end);
}