@use "dictionary" as *;

header{
    background-color: #f4a3a3;
    color: #fff;
    padding: 20px;  
}


.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h1 {
  font-size: 48px;
  color: get-color("gold");
  margin-bottom: get-space("medium");
}

.header p {
  font-size: get-space("large");
  color: #9fa3aa;
  margin-bottom: get-space("large");
}