.header{
    background: #333;
    color: white;
    padding: 15px;
}

.nav{
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
    color: white;
}
.main{
    min-height: 70vh;
    padding: 20px;
}