*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
     display: grid;

     /* grid-template-columns: 100px 400px 50px; */
     /* grid-template-columns: 1fr 2fr 1fr; */
     /* grid-template-columns: 100px 2fr 1fr 10%;  */
     /* grid-template-columns: repeat(3, 1fr); */
     /* grid-template-columns: repeat(3, 200px) repeat(3, minmax(100px, 400px)); */
     /* grid-template-rows: 400px 50px; */

     /* gap: 20px 0; */

     /* grid-template: repeat(2, 200px) / repeat(3, 150px); */

     /* grid-template-areas: 
     'header header header' 
     'article aside nav' 
     '. footer footer'; */


        grid-template: 
     'header header header' 20vh
     'article aside nav' 60vh
     'footer footer footer' 20vh;
      /* height: 100vh; */
}

.box1{
    grid-area: header;
    /* height: 20vh; */
    background-color: rgb(4, 249, 0);
}

.box2{
    grid-area: article;
      /* height: 60vh; */
      width: 60vw;
}

.box3{
    grid-area: aside;
      /* height: 60vh; */
        width: 20vw;
    background-color: bisque;
}

.box4{
    grid-area: nav;
      /* height: 60vh; */
        width: 20vw;
    background-color: rgb(26, 168, 239);
}

.box5{
    grid-area:footer;
    /* height: 20vh; */
    background-color: rgb(4, 249, 0);
}


/* .box1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    /* grid-column-start: 1;
    grid-column-end: 3; */
/* } */

/* .box5{ */
/* grid-column: span 4; 
grid-column: 2 / 4;
} */

.grid-item{
border: 1px solid black;
/* outline: 1px solid black; */
}