*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    width: 100vw;
    height: 500px;

    background-color: rgba(0, 0, 0, 1);
    background-image: url("bg_container.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}