*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    width: 100vw;
    height: 500px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("bg_container.pn");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}