*{
    margin: 0;;
    padding: 0;
    box-sizing: content-box;
}

ul{
    list-style: none;
}

a{
   font-family: "Playwrite US Modern", cursive;
    text-decoration: none;
    color: black
}

.header{
    height: 20vh;
    background-color: rgb(124, 124, 245);
    padding: 20px;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo-img{
    width: 150px;
    height: 80px;
    border-radius: 10px;
}
.nav_menu{
    width: 100%;
}
/* hamburger */
.hamburger{
    /* display: flex; */
    display: none;
    flex-direction: column;
    gap: 2px;
}

.hamburger span{
    width: 20px;
    height: 3px;
    background-color: black;
}
/* list menu */
.list{
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    /* font-weight: 800; */
}

.list.active{
        display: flex;
    }

.main{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.btn_modal{
    width: 180px;
    height: 90px;
    background-color: rgb(0, 255, 187);
    color: rgb(6, 11, 42);
    border-radius: 10px;
    border: none;
    font-size: 28px;
    padding: 10px;
}

.btn_modal:hover{
    color: white;
    background-color: rgb(2, 154, 249);

}

.modal-container{
    display: none;
    /* display: flex; */
    width: 400px;
    background-color: rgb(243, 243, 208);
    border: 1px solid black;
    border-radius: 10px;

    margin: 0 auto;

    position: relative;
    z-index: 1000;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.modal-container.active{
    display: block;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;

    height: 200px;
    justify-content: space-between;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-weight: 900;
}

.overlay{
    display: none;
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);
    z-index: 999;

}

.overlay.active{
    display: block;
}




@media (max-width: 630px){
    .nav_menu{
    width: 20px;
}
    .hamburger{
        display: flex;
        /* margin-left: auto; */
    }

    .list{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 20%;
        right: 0;
        background-color: rgb(124, 124, 245);
    }
}