.container{
    border: 1px solid black;
    width: 1000px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("foto.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;

    background-attachment: fixed;

    /* box-shadow: 0 0 10px rgb(251, 3, 3); */
    -webkit-box-shadow: 12px -4px 20px 1px #F213FF; 
    box-shadow: 12px -4px 20px 1px #F213FF;

}

h1{
    color: white;
}

.grad{
    border: 1px solid black;
    width: 1000px;
    height: 500px;

    /* background-image: linear-gradient(
        to top,
        10deg,
        red 0%,
        red 10%,
        green 10%,
        green 20%,
        blue 60%
        red 20%,
        red 30%,
        green 30%,
        green 40%
    );*/

    background-image: radial-gradient(
        circle at center,
        red 30%,
        green 50%,
        blue 70%
    );

    background-image: radial-gradient(
        ellipse at left,
        rgba(220, 18, 18, 0.5) 30%,
        green 50%,
        blue 70%
    );
}

a{
    margin-left: 40px;
}

/* a::after{
    content: "Это будет после"
} */

a:hover::after{
    content: "👌";
}

a:hover::before{
    content: url("foto.jpg");
}