/* 
    .inp::placeholder {
        color: green; font-size: 18px;
    }

    @media (max-width: 900px){
        body{
            background-color: blue;
        }

        h1{
            color: white;
            font-style: italic;
        }
    }

    
    @media (max-width: 700px){
        body{
            background-color: rgb(28, 233, 46);
        }

        h1{
            color: rgb(177, 2, 253);
            font-weight: 900;
        }
    } */

    h1{
        text-align: center;
    }

.section{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
    .container{
        width: 400px;
        height: 170px;
        border: 1px solid black;
        border-radius: 10px;

       box-shadow: 17px 18px 5px -13px rgba(150,35,35,0.75);
-webkit-box-shadow: 17px 18px 5px -13px rgba(150,35,35,0.75);
-moz-box-shadow: 17px 18px 5px -13px rgba(150,35,35,0.75);

    padding: 20px;
    display: flex;
    gap: 20px;

    align-items: center;
    }

    .foto-contact{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .desc{
        text-align: justify;
    }

    .name-contact {
        text-align: center;
    }

    @media screen and (max-width:1000px){
.section{
    gap: 40px
}

        .container{
        width: 350px;
        }
    }

     @media screen and (max-width:860px){
        .section{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
     }