*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #fff;
}

body{
    background-color: #000;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    height: 1573px;
    padding: 30px 40px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("bg_container.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
}

.logo__link{
    font-size: 24px;
    font-weight: 700;
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav__link{
    font-size: 16px;
    font-weight: 600;
}

.search{
     position: relative;
}

.icon{
    width: 20px;
    height: 20px;
    fill:#fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.search__input{
    padding: 5px 5px 5px 35px;
    background-color: transparent;
    border: none;
    width: 88px;

}

.search__input:focus,
.search__input:hover{
    outline: none;
}

.search__input::placeholder{
    color: #fff;
}



.nav-soc__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* transform: rotate(-90deg); */
}

.nav-soc__span{
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    writing-mode: vertical-rl;
    margin-bottom: 20px;
}

.icon-soc{
    width: 24px;
    height: 24px;
    fill: #fff;
}

.nav-soc{
    width: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot{
    display: flex;

    position: relative;
}

.container-title{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -36px;
    left: 436px;
    gap: 32px;
}

.container-title span{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #FFC178;
    text-transform: uppercase;
}

.line{
    display: inline-block;
    width: 72px;
    height: 2px;
    background-color: #FFC178;
}

.container-title__h1{
    font-size: 96px;
    font-weight: 700;
}

.container-title__h1 span{
    color: #fff;
    font-size: 88px;
    font-weight: 400;
    text-transform: capitalize;
}